    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    {{#if productionLike}}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {{else}}
      <script src="assets/js/jquery.min.js"></script>
    {{/if}}


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {{load_js "bootstrap-js"
        production_path="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"
        development_path="assets/js/bootstrap.min.js"
    }}

    {{perform_resource_loading_errorcheck}}
  </body>
</html>
