{{> common_page_header}}
{{> common_page_header_body_boundary}}
  <div class="navbar">
    {{fromMarkdownFile "shared-navigation"}}
  </div>
  <div class="container">
    {{{contentFromMarkdown}}}
  </div>
{{> common_page_footer}}
